$headerBackgroundColor: #505050;

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: $headerBackgroundColor;
    padding: 5px 10px;
    z-index: 1;
    
    .logo{
        height: 40px;
        width: 120px;
    }
}

